@charset "UTF-8";
dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  border-left: 3px solid #666;
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 10px 0px 10px 20px; }
  blockquote cite {
    display: block;
    font-style: normal;
    font-weight: 600;
    margin-top: 0.5em; }
  blockquote p {
    margin: 0px; }
  blockquote:before, blockquote:after {
    content: ""; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #eee;
  text-decoration: none; }

big {
  font-size: 125%; }

blockquote {
  quotes: "" ""; }

q {
  quotes: "“" "”" "‘" "’"; }

:focus {
  outline: none; }
