
// Widgets
.widget{
    padding: 20px;
    
    //border: 1px solid #F2F2F3;
    //margin: 0 0 -1px;
    ul{
        @extend .list-unstyled;
        //list-style: none;
        li{
            color:black;
            margin-left: 0px;
        }
    }
}



.recent_block{
    width:100%;
    background: white;
    border: black 1px solid;
    box-shadow: rgba(0, 0, 0, 0.582) 1px 1px 1px 1px;
    padding: 40px;
    header{
        text-align: center;
    }
}

// lll
.entry-title{
    font-size: 2em;
}


// Sidebar
.sidebar .widget > ul > li {
    padding: 8px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.widget > ul {
    padding: 0px;
}

//Meta post


.nav-links{
    text-align: center;
    background: whitesmoke;
    padding: 3em 0 3em 0;
    line-height: 1em;
    font-size: 1em;
}

.wp-post-image{
    margin-top: 22px;
    margin-bottom: 22px;
} 
.content-area{
    padding: 1rem;
}
.comment-respond {
    padding: 1rem;
}



// Post meta
.entry-meta, .post-meta, .logged-in-as, .entry-footer{
    margin-bottom: 1.25rem;
    color: #999;
}
// Sane
.page-title{
    //display: block;
    //@extend .small;
}

//// Footer
.footer-widget{
    .widget-title{
        font-size: 2em;
    }
    ul{
        @extend .list-unstyled;
        padding-left: 5px;
    }
}

footer {
    .widget-title{
        @extend .small;
    }

}

.footer-widget{
    padding: 20px;
    color:white;
    margin: 0 0 -1px;
    .widget-title{
        color:$footer-header-color;
    }
    ul{
        @extend .list-unstyled;
        li{
            color:white;
            margin-left: 0px;
        }
    }
}

#wrapper-footer-full{
    background: $footer-color;
    color: black-or-white($footer-color);
    a{
        color: black-or-white($footer-color) !important;
    }
}

#wrapper-footer{
    background: $footer-info-color;
    background: url('../img/top-background.jpeg') norepeat;
    color: black-or-white($footer-info-color);
    a{
        color: black-or-white($footer-info-color) !important;
    }
}


//// Footer
// NavBar customisations
.navbar-dark .navbar-toggler {
    border: none;
}


// header
.widget {
    margin-bottom: 30px;
    word-break: break-word;
    
    h2{
        font-size: 1.2em;
        font-weight: 700;
    }
    ul {
        padding: 0 0 0 10px;
        margin: 0;
        list-style: none;
        li {
            line-height: 2.4;
            padding-top: 5px;
            font-weight: 400;
        }
    }
    a{
        color:black;
        transition: .3s ease;
        &:hover{
            text-decoration: none;
            color: $primary;
        }
    }
}



a:hover{
    text-decoration: none;
}

.featured-post-main{
    justify-content: flex-end;
    flex-direction: column;
    display: inline-flex;
}
