// h1 {
// 	font-size: 24px;
// 	font-size: 1.5rem;
// 	font-weight: 300;
// }

// h2,
// .home.blog .entry-title {
// 	color: #666;
// 	font-size: 20px;
// 	font-size: 1.25rem;
// 	font-weight: 300;
// }

// h3 {
// 	color: #333;
// 	font-size: 18px;
// 	font-size: 1.125rem;
// 	font-weight: 300;
// }

// h4 {
// 	color: #333;
// 	font-size: 16px;
// 	font-size: 1rem;
// 	font-weight: 800;
// }

// h5 {
// 	color: #767676;
// 	font-size: 13px;
// 	font-size: 0.8125rem;
// 	font-weight: 800;
// 	letter-spacing: 0.15em;
// 	text-transform: uppercase;
// }

// h6 {
// 	color: #333;
// 	font-size: 15px;
// 	font-size: 0.9375rem;
// 	font-weight: 800;
// }

// p {
// 	margin: 0 0 1.5em;
// 	padding: 0;
// }

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
    border-left: 3px solid #666;
	color: #666;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.7;
	margin: 0;
	overflow: hidden;
	padding: 10px 0px 10px 20px;
	cite{
		display: block;
		font-style: normal;
		font-weight: 600;
		margin-top: 0.5em;
	}
	p{
		margin:0px;
	}

	&:before, &:after {
		content: "";
	}
}




address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #eee;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote {
	quotes: "" "";
}

q {
	quotes: "“" "”" "‘" "’";
}



:focus {
	outline: none;
}